<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<li class="comment" th:fragment="node(c)">
    <div class="comment-head">
        <span class="comment-author" th:text="${c.author()}">Author</span>
        <span class="comment-date" th:text="${c.created()}">date</span>
    </div>
    <div class="comment-body" th:text="${c.body()}">body</div>
    <ul class="comment-replies" th:if="${c.hasReplies()}">
        <th:block th:each="r : ${c.replies()}">
            <li th:replace="~{fragments/comment :: node(${r})}"></li>
        </th:block>
    </ul>
</li>
</body>
</html>
